<%- include('header');%>

<div class = "container">
    <div class ="justify-content-center row">
        <div class="col-12 col-sm-6">

            <div class="formArea">
                <h4 class="titleForm">Oops ! No trains available</h4>
            </div>

            <div class="input-group-append">
                <button class="btn btn-danger" type="submit" id="button-addon2">Home</button>
            </div>
        </div>
    </div>


<div class="col-12 col-sm-6">
<ul class="list-group">         
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <img >
          <span class="badge badge-warning badge-pill"></span>
          <span class="badge badge-secondary badge-pill"></span>
          <button class="btn btn-danger" type="submit" id="button-addon2">OK</button>
        </div>
      </li>
  </ul>
</div>

</div>














    
    <%- include('scripts');%>

</body>
</html>