<%- include('header');%>
</body>
    <div id="verticalcontainer" class="container">
        <div class="justify-content-center">
            <div class= "col-12 col-sm-12 text-center mt-5">
                <div>
                    <h4 id="whitebold">My last trips :</h4>  
                </div>
            </div>
        </div>
    </div>

    <div class= "col-12 col-sm-12 text-center mt-5">
        <div class="card-body">
        <div class= "white" class="table-responsive">
            <table id="order-info" class="table" width="100%" cellspacing="0">
            <thead>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Journey</th>
                    <th>Departure Time</th>
                    <th>Price</th>
                </tr>
                </thead>
            </thead>

            <tbody>
                <tr>
                    <td>02/08/2019 </td>
                    <td> Paris / Lille </td>
                    <td>17:00</td>
                    <td>€</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
        <a href="/journey" class="btn btn-danger" type="button" id="button-addon2">Home</a>
 </div>
















        <!--SCRIPTS-->

        <%- include('scripts');%>

    </body>
    </html>