<%- include('header');%>
</body>
    <div id="verticalcontainer" class="container">
        <div class="justify-content-center">
            <div class= "col-12 col-sm-12 text-center mt-5">
                <div>
                    <h4 id="whitebold">My last trips :</h4>  
                </div>
            </div>
        </div>
    </div>



















        <!--SCRIPTS-->

        <%- include('scripts');%>

    </body>
    </html>